<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.title | uppercase }}</mat-card-title>
    <mat-card-subtitle>
      {{ product.platform }}
    </mat-card-subtitle>
  </mat-card-header>
  <div class="crop-image">
    <img [src]="product.thumbnail" alt="" />
  </div>
  <mat-card-content>
    <p>{{ product.short_description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Agregar al carrito</button>
    <a [routerLink]="['/products', product.id]">Ver detalle</a>
  </mat-card-actions>
</mat-card>
